* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Garamond, Georgia, serif;
    background-color: #3498db;
    color: #003;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    position: relative;
}

header {
    width: 90dvw;
    margin: 2.5dvh 0;
    /* position: sticky;
    top: 2.5dvh; */
}

header a {
    color: #fff;
    text-decoration: none;
}

.homecontainer, .notecontainer {
    max-width: 75svw;
    max-height: 70svh;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #003;
    box-shadow: 5px 5px 0 #003;
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none;
}



/* Index Body Styles  */

.homecontainer .quicklinks {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.homecontainer a {
    font-family: 'Cascadia Mono', monospace;
    background-color: #fff;
    border: 2px solid #003;
    color: #003;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
}

.homecontainer a.today-pocket {
    background-color: #003;
    border: 2px solid #003;
    color: #fff;
}

.homecontainer a:hover {
    scale: 1.01;
}



/* Pocket List Style */

.content {
    width: 80dvw;
}

.content h1 {
    color: #fff;
    text-align: center;
}

.pocketlist {
    width: 100%;
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.pocketlist a {
    min-width: fit-content;
    /* max-width: 250px; */
    /* min-height: fit-content; */
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    background-color: #007;
    border: 2px solid #fff;
    border-radius: 5px;
}

.pocketlist a:hover {
    scale: 1.01;
}



/* PocketNotes Styles */

.note h4, .note label {
    font-family: monospace;
}

blockquote {
    white-space: pre-wrap;
}



/* Media Styles */

audio {
    margin: 0 0 5px;
}

audio::-webkit-media-controls-enclosure {
    background-color: #dff3ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
    display: none;
}
