name: Notification Automation

on:
  workflow_dispatch:
  schedule:
    - cron: '40 15 * * *'  # daily 9:05 AM local (UTC+1)
  push:
    branches:
      - main
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created]



jobs:
  # -------------------------------
  # Cron-based daily check+notif
  # -------------------------------
  send_cron_notification:
    if: github.event_name == 'schedule'
        # || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    env:
      GERV_MAIL: ${{ secrets.GERV_MAIL }}
      GERV_PW: ${{ secrets.GERV_PW }}
    steps:
      - uses: actions/checkout@v3
      - name: Run Cron Mailer
        run: python cron_mailer.py
        working-directory: .github/workflows

  # -------------------------------
  # Commit-based notifs
  # -------------------------------
  send_commit_or_custom_mail:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    env:
      GERV_MAIL: ${{ secrets.GERV_MAIL }}
      GERV_PW: ${{ secrets.GERV_PW }}
    steps:
      - uses: actions/checkout@v3

      - name: Filter Commit Message
        id: filter_commit
        run: |
          COMMIT_MESSAGE=$(git log --format=%B -n 1 $GITHUB_SHA)
          if [[ $COMMIT_MESSAGE == *"new note"* ]]; then
            echo "::set-output name=commit_match::true"
          else
            echo "::set-output name=commit_match::false"
          fi
          if [[ $COMMIT_MESSAGE == *"send custom mail"* ]]; then
            echo "::set-output name=custom_match::true"
          else
            echo "::set-output name=custom_match::false"
          fi

      - name: Run Commit Mailer
        if: steps.filter_commit.outputs.commit_match == 'true'
        run: python commit_mailer.py
        working-directory: .github/workflows

      - name: Run Custom Mailer
        if: steps.filter_commit.outputs.custom_match == 'true'
        run: python custom_mailer.py
        working-directory: .github/workflows

  # -------------------------------
  # Issue+Comment notification
  # -------------------------------
  send_issue_notification:
    if: github.event_name == 'issues' || github.event_name == 'issue_comment'
    runs-on: ubuntu-latest
    env:
      GERV_MAIL: ${{ secrets.GERV_MAIL }}
      GERV_PW: ${{ secrets.GERV_PW }}
    steps:
      - uses: actions/checkout@v3
      - name: Filter Issue / Comment
        id: filter_content
        run: |
          CONTENT="${{ github.event.issue.body || github.event.comment.body }}"
          if [[ $CONTENT == *"Alert:"* ]]; then
            echo "::set-output name=match::true"
          else
            echo "::set-output name=match::false"
          fi

      - name: Execute Response Mailer
        if: steps.filter_content.outputs.match == 'true'
        run: python response_mailer.py
        working-directory: .github/workflows

      - name: Debug Outputs
        if: steps.filter_content.outputs.match == 'false'
        run: echo "No matching content found. Skipping notification."
